@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');

body {

    background-repeat: no-repeat;
    background-color: rgb(66, 66, 66);
    backdrop-filter: brightness(60%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    
}

#container{
    border-radius: 80px;
    display:flex;
    background-image: linear-gradient(to top, #4298ad 0%, #91c0a4 100%);
    padding: 20px;
    width: 50vw;
    height: 50vh;
    justify-content: center;    
    align-items: center;
    flex-flow: row wrap;
   
}

#apresentacao{
    font-size: 16px;
    font-style: bolder;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    font-style: bolder;

    
}

#nome > h1{
    font-weight: bolder;
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    padding: 10px;  
    flex-direction: column;
    
    
}

#foto{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    
}

#minhafoto{
    border-radius: 50%;
    border: 3px solid rgb(100, 99, 99);
}

#site{
    
    font-size: 16px;
    text-decoration: none;
    color: rgb(59, 63, 60);
    
}

#logos > * {
    align-content: space-around;
    width: 7%;
}

#logos{
    text-align: center;
    
}